#product_list tbody tr th {
    font-weight: 300;
}

.password_error {
    color: #dd4b39
}

.log_success{
    color: #00a65a
}


.response {
    border: 1px solid #ccc;
    list-style: none;
    max-height: 200px;
    overflow-y: auto;
    margin: 0;
    padding: 0;
    text-align: center;
}

.response li {
    cursor: pointer;
    font-weight: 700;
}

.response li:hover{
    background-color: #ccc;
}

